name: Maven CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  maven_test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'zulu'
        cache: maven

    - name: Test with Maven
      run: mvn test

    - name: Upload jacoco results as artifact
      uses: actions/upload-artifact@v4
      with:
        name: Jacoco coverage results
        path: target/site/jacoco

  update_dependence_graph:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@v3
